.container_job_details{
    display: flex;
    box-sizing: border-box;
    gap: 50px;
}

.content_div{
    width: 70%
}

.job_detail_heading{
    grid-column-start: start;
    grid-column-end: frst;
    font-family: 'Proxima Nova', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    color: #3A4562;
}

.job_detail_heading:after{
    content: "";
    width: 690px;
    height: 0.5px;
    display: inline-block;
    border: 0.5px solid  rgba(56, 65, 93, 0.2);
    box-sizing: border-box;
    opacity: 0.7;
}

.job_detail_title{
    grid-column-start: start;
    grid-column-end: scnd;
    font-family: 'Proxima Nova', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 21px;
    letter-spacing: -0.75px;
    color: #3A4562;
}

.job_detail_heading_div{
    width: 690px;
    margin-top: 86px;
}

.button_home{
    background: #384564;
    opacity: 0.14;
    border-radius: 8px;
    width: 220px;
    height: 50px;
    margin-left: -110px;
    margin-top: 97px;
}

.additional_div{
    font-family: 'Proxima Nova', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #3A4562;
    margin-left: -680px;
    margin-top: -33px;
    margin-bottom: 150px;
}
.additional_div p:before{
    margin-right: 5px;
    content: "";
    width: 15px;
    height: 15px;
    display: inline-block;
    border: 2px solid #3A4562;;
    box-sizing: border-box;
    transform: matrix(-0.69, 0.65, -0.8, -0.69, 0, 0);
    border-top: none;
    border-left: none;
}

@media (min-width: 768px){
    .contacts_heading{
        display: none;
    }
}

@media (max-width: 768px) {
    .container{
        width: 100%;
    }
    .container_job_details{
        width: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        gap: 0;
    }

    .content_div{
        width: 100%
    }

    .job_detail_heading{
        width: 100%;
        grid-column-start: start;
        grid-column-end: end;
        grid-row-start: start;
        grid-row-end: frst;
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        line-height: 34px;
        color: #3A4562;
    }

    .job_detail_heading:after{
        width: 100%;
    }

    .first_btn{
        display: none;
    }

    .to_change_order_div{
        display: flex;
        flex-direction: column-reverse;
    }

    .to_del_home_btn{
        display: none;
    }

    .map_div{
        width: 100%;
    }
}

